.wrapper{
    background-color: var(--navy);
    color: var(--light-slate);
    padding: 0 14%;
    display: flex;
}

@media (max-width: 1024px){
    .wrapper{
        display: block;
        padding: 0 7%;
        padding-top: 80px;
    }
}
@media (max-width: 768px){
    .wrapper{
        padding-top: 50px;
    }
}